[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ff]iles/
Assets/AssetStoreTools*
Assets/MXR.SDK/Runtime/Experiments/
Assets/MXR.SDK/Runtime/Experiments.meta

# Visual Studio cache directory
.vs/

# Ignore Oculus SDK
Assets/Oculus/
Assets/Oculus.meta

# Ignore Pico SDK
Assets/PicoMobileSDK/
Assets/PicoMobileSDK.meta
Assets/Plugins/LitJson.dll
Assets/Plugins/LitJson.dll.meta
Assets/Plugins/Android/assets/LoadingRes/config.txt
Assets/Plugins/Android/assets/LoadingRes/config.txt.meta
Assets/Plugins/Android/libs/pvrSDK-release.aar
Assets/Plugins/Android/libs/pvrSDK-release.aar.meta
Assets/Plugins/Android/res/values/color.xml
Assets/Plugins/Android/res/values/color.xml.meta
Assets/Plugins/Android/res/values/dimens.xml
Assets/Plugins/Android/res/values/dimens.xml.meta
Assets/Plugins/Android/res/values/strings.xml
Assets/Plugins/Android/res/values/strings.xml.meta
Assets/Plugins/Android/res/values/styles.xml
Assets/Plugins/Android/res/values/styles.xml.meta
Assets/Plugins/Android/res/values-en/color.xml
Assets/Plugins/Android/res/values-en/color.xml.meta
Assets/Plugins/Android/res/values-en/dimens.xml
Assets/Plugins/Android/res/values-en/dimens.xml.meta
Assets/Plugins/Android/res/values-en/strings.xml
Assets/Plugins/Android/res/values-en/strings.xml.meta
Assets/Plugins/Android/res/values-en/styles.xml
Assets/Plugins/Android/res/values-en/styles.xml.meta
Assets/Plugins/Android/res/values-ja/color.xml
Assets/Plugins/Android/res/values-ja/color.xml.meta
Assets/Plugins/Android/res/values-ja/dimens.xml
Assets/Plugins/Android/res/values-ja/dimens.xml.meta
Assets/Plugins/Android/res/values-ja/strings.xml
Assets/Plugins/Android/res/values-ja/strings.xml.meta
Assets/Plugins/Android/res/values-ja/styles.xml
Assets/Plugins/Android/res/values-ja/styles.xml.meta
Assets/Plugins/Android/res/values-ko/color.xml
Assets/Plugins/Android/res/values-ko/color.xml.meta
Assets/Plugins/Android/res/values-ko/dimens.xml
Assets/Plugins/Android/res/values-ko/dimens.xml.meta
Assets/Plugins/Android/res/values-ko/strings.xml
Assets/Plugins/Android/res/values-ko/strings.xml.meta
Assets/Plugins/Android/res/values-ko/styles.xml
Assets/Plugins/Android/res/values-ko/styles.xml.meta
Assets/Plugins/Android/res/values-zh/color.xml
Assets/Plugins/Android/res/values-zh/color.xml.meta
Assets/Plugins/Android/res/values-zh/dimens.xml
Assets/Plugins/Android/res/values-zh/dimens.xml.meta
Assets/Plugins/Android/res/values-zh/strings.xml
Assets/Plugins/Android/res/values-zh/strings.xml.meta
Assets/Plugins/Android/res/values-zh/styles.xml
Assets/Plugins/Android/res/values-zh/styles.xml.meta
Assets/Plugins/Android/gson-2.8.0.jar
Assets/Plugins/Android/gson-2.8.0.jar.meta
Assets/Plugins/Android/tobserviceclient.jar
Assets/Plugins/Android/tobserviceclient.jar.meta

# Ignore Wave SDK
Assets/HTC.UnityPlugin/
Assets/HTC.UnityPlugin.meta
Assets/VIUSettings/
Assets/VIUSettings.meta

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Mac
.DS_Store