name: CI
on:
  push:
    branches:
    - master
jobs:
  release:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Release
    runs-on: ubuntu-latest
    env:
      PKG_ROOT: "Assets/MXR.SDK"
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Check if README.md has changed
      id: readme_check
      run: |
        if git diff --name-only HEAD~1 HEAD | grep -q "README.md"; then
          echo "README_CHANGED=true" >> $GITHUB_ENV
        else
          echo "README_CHANGED=false" >> $GITHUB_ENV
        fi

    - name: Update package README
      if: env.README_CHANGED == 'true'
      run: |
        cp README.md "$PKG_ROOT/README.md"
        git config --global user.name 'github-bot'
        git config --global user.email 'github-bot@users.noreply.github.com'
        git commit -am "Updated package README from root README"
        git push -f -u origin master
      
    - name: Create/Update upm@latest branch
      run: |
        git branch -d upm@latest &> /dev/null || echo upm@latest branch not found
        git subtree split -P "$PKG_ROOT" -b upm@latest
        git checkout upm@latest
        if [[ -d "Samples" ]]; then
          git mv Samples Samples~
          rm -f Samples.meta
          git config --global user.name 'github-bot'
          git config --global user.email 'github-bot@users.noreply.github.com'
          git commit -am "fix: Samples => Samples~"
        fi
        git push -f -u origin upm@latest